version: '3.7'

services:
  rentx_database:
    image: postgres
    container_name: rentx_database
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=ignite
      - POSTGRES_DB=rentx
    volumes:
      - pgdata:/data/postgres
  app:
    build: .
    container_name: rentx
    ports:
      - 3333:3333
    volumes:
      - .:/usr/app
      - /usr/src/app/node_modules
    links: 
      - rentx_database
    depends_on:
      - rentx_database

volumes:
  pgdata:
    driver: local